div {
background-color:rgb(255, 213, 213); border:7px solid black;

}
.david{
    border: 7px solid hotpink;
    max-width: 100%;
}
h1{
    font-family: Comic Sans MS;
}
p{
font-family: Comic Sans MS;
}